
@media (max-width: 1100px){
    #page-home {
        background-position-x: 75vw ;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }
}

@media (max-width: 500px){
    #page-home main h1 {
        font-size: 42px;
    }
    
    #page-home main p {
        font-size: 18px ;
        line-height: 26px;
    }
}

@media (min-width: 1700px){
    #page-home {
        background-position-x: 45vw ;
    }


}

@media (max-height: 800px){
    #page-home {
        background-position-y: 200px ;
    }
}

@media (max-height: 500px){
    #page-home main h1 {
        font-size: 36px;
        line-height: 42px;
    }
    
    #page-home main p {
        font-size: 14px ;
        line-height: 26px;
    }

    #page-home header a {
        position: relative;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}


@media (min-height: 1200px){
    #page-home {
        background-position-y: 40vh ;
    }
}